@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap');
:root {
    --ffamily: 'Manrope';
    --soft-cyan: rgba(122, 234, 223, 1);
    --strong-cyan: hsl(174, 86%, 45%);
    --light-grayish-red: hsl(14, 92%, 95%);
    --light-red: rgba(255, 141, 104, 1);
    --pale-blue: hsl(226, 100%, 87%);
    --white: hsl(0, 0%, 100%);
    --very-pale-blue: hsl(230, 100%, 99%);
    --empty-slider-bar: hsl(224, 65%, 95%);
    --toggle-bck: hsl(223, 50%, 87%);
    --grayish-blue: hsl(225, 20%, 60%);
    --dark-destaurated-blue: rgba(41, 51, 86, 1);
    --text-color: rgba(132, 142, 173, 1);
    --switch: rgba(207, 216, 239, 1);
    --line: rgba(236, 240, 251, 1);
    --trial: rgba(190, 205, 255, 1);
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--ffamily);
    background-color: var(--very-pale-blue);
    background-image: url(images/bg-pattern.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

header {
    background-image: url(images/pattern-circles.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding: 3rem;
    color: var(--dark-destaurated-blue);
    max-width: 395px;
    display: flex;
    margin: auto;
    margin-top: 5.5rem;
}

header h1 {
    font-weight: 800;
    font-size: 28px;
    line-height: 38px;
    text-align: center;
}

header p {
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    color: var(--text-color);
}

.card {
    background-color: var(--white);
    max-width: 540px;
    height: 397px;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 4em;
    border-radius: 8px;
    box-shadow: 0px 20px 30px -5px rgba(127, 137, 185, 0.152073);
}

.card-header {
    display: flex;
    justify-content: space-between;
    padding: 3.5em 2.5em 0.9em 2.5em;
}

.card-views p {
    font-weight: 800;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: var(--text-color);
}

.cost {
    display: flex;
    transform: translateY(-40%);
}

.per-month {
    color: var(--text-color);
    margin-left: 0.3em;
    margin-top: 1em;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
}

.price, .dolar {
    font-weight: 800;
    font-size: 40px;
    line-height: 55px;
    letter-spacing: -1px;
    color: var(--dark-destaurated-blue);
}

.slider {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2.5em;
}

.slider input[type="range"] {
    width: 100%;
}

.myrange {
    appearance: none;
    background-color: var(--strong-cyan);
    border-radius: 5px;
    outline: none;
    height: 8px;
}

.myrange::-webkit-slider-thumb {
    appearance: none;
    width: 40px;
    height: 40px;
    background-color: var(--strong-cyan);
    border-radius: 50%;
    background-image: url(images/icon-slider.svg);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    box-shadow: 0px 15px 30px rgba(0, 255, 231, 0.6);
}

.billing {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 3rem;
    padding: 0 2.5em;
}

.month, .year {
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: var(--text-color);
    margin-left: 1.5em;
    margin-right: 1.7em;
}

.discount {
    font-weight: 800;
    font-size: 10px;
    line-height: 14px;
    text-align: center;
    color: var(--light-red);
    background-color: var(--light-grayish-red);
    width: 80px;
    height: 19px;
    border-radius: 9.5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.switch {
    background-color: var(--switch);
    width: 43px;
    height: 22px;
    border-radius: 15px;
    cursor: pointer;
}

.switch-btn {
    width: 14px;
    height: 14px;
    background-color: var(--white);
    border-radius: 50%;
    display: flex;
    margin-top: 0.26em;
    margin-left: 0.3rem;
}

.switch-active {
    background-color: var(--soft-cyan);
}

.switch-btn-active {
    margin-left: 1.5rem;
}

.line {
    width: 100%;
    height: 1px;
    background-color: var(--line);
    margin-top: 3.5em;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    padding: 1em 2.5em;
}

ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: right;
    margin-top: 1em;
}

li {
    list-style: none;
    margin-bottom: 0.7em;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: var(--text-color);
}

li img {
    margin-right: 0.3em;
}

.free-trial {
    display: flex;
    justify-content: center;
    align-items: center;
}

.free-trial-btn {
    background-color: var(--dark-destaurated-blue);
    width: 170px;
    height: 41px;
    border-radius: 20.5px;
    color: var(--trial);
    font-weight: 800;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.free-trial-btn:hover {
    cursor: pointer;
    color: var(--white);
}