@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap');
:root {
    --ffamily: 'Manrope';
    --font-size: 15px;
    --soft-cyan: hsl(174, 77%, 80%);
    --strong-cyan: hsl(174, 86%, 45%);
    --light-grayish-red: hsl(14, 92%, 95%);
    --light-red: hsl(15, 100%, 70%);
    --pale-blue: hsl(226, 100%, 87%);
    --white: hsl(0, 0%, 100%);
    --very-pale-blue: hsl(230, 100%, 99%);
    --empty-slider-bar: hsl(224, 65%, 95%);
    --toggle-bck: hsl(223, 50%, 87%);
    --grayish-blue: hsl(225, 20%, 60%);
    --dark-destaurated-blue: rgba(41, 51, 86, 1);
    --text-color: rgba(132, 142, 173, 1);

}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--ffamily);
    font-size: var(--font-size);
    background-color: var(--very-pale-blue);
    background-image: url(images/bg-pattern.svg);
    background-repeat: no-repeat;
}

header {
    background-image: url(images/pattern-circles.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding: 3rem;
    color: var(--dark-destaurated-blue);
    max-width: 395px;
    display: flex;
    margin: auto;
    margin-top: 5.5rem;
}

header h1 {
    font-weight: 800;
    font-size: 28px;
    line-height: 38px;
    text-align: center;
}

header p {
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    color: var(--text-color);
}